* {
    margin: 0;
    padding: 0;
}

main {
    margin: 3.5% 2.5%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.image {
    width: 50%;
    max-width: 572px;
    background-repeat: no-repeat;
    background-image: url("background.svg");
    height: 100vh;
    padding: 2.5% 6.7%;
   
}

h1 {
    font-family: Rubik;
    font-weight: 500;
    color: white;
    font-size: 64px;
    line-height: 74.84px;
    width: 75%;
    padding-top: 10%;
}
h3 {
    font-family: Rubik;
    font-weight: 500;
    color: #E3E2E6;
    font-size: 24px;
    line-height: 32px;
    padding-top: 10%;
    width: 75%;
}
